body {
  margin: 0;
  padding: 0;
}

 /* The navigation bar */
 .navbar-expand-lg{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

/* home page introductions */

.jumbotron{
  background: url(images7.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 1px 1px 2px black;
  color: white;
  position: relative;
  height: 593px;
  margin-top: 30px;
}

/* stories images fixed center */
.img-fluid{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 850px;
  padding: 0.5em;
  max-height: 80%;
  
}

/* text fixed center */

.text-justify{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 20px;
  max-width: 850px;
  padding: 0.5em;
}

h1{
  margin-left: 10px;
  margin-top: 95px;
  text-align: center;
}

h6{
  margin-left: 30px;
  margin-top: 75px; 
  font-size: 50px;
}

form{
  padding-right: 90px;
  width: 450px;
  max-width: 90%;
  display: inline-block;
}

.subjectClass{
  height: 150px;
}

/* line between each story */

hr{
  margin-bottom: 100px;
  margin-top: 100px;
}

.contactText{
  margin-left: 30px;
  font-size: 25px;
}

.contactHr{
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.img-fluids{
display: inline-block;
margin-right: 30px;
width: 260px;
vertical-align: top;
}

.lead{
  text-align: center;
}

.leads{
  text-align: center;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  color: black;
  left: 0px;
}

#NextCat{
  height: 50px;
  background-color: black;
  float: right;
  position: relative;
  bottom: 75px;
  line-height: 35px;
  margin-right: 35px;
  
}

#BackCat{
  height: 50px;
  background-color: black;
  float: left;
  position: relative;
  bottom: 75px;
  line-height: 35px;
  margin-left: 35px;
}

#StoryText{
  width: 370px;
  height: 200px;
  float: left;
  left: -50px;
}

.StoryCreaterText{
  font-size: 17px;
}

.blood {
  color:white;
  text-shadow:
  4px 4px 1px #300000,
  4px 6px 1px #400000,
  4px 8px 1px #500000,
  4px 10px 1px #600000,
  4px 12px 1px #700000,
  4px 14px 1px #800000,
  4px 16px 1px #900000,
  4px 18px 1px #A00000,
  4px 20px 1px #B00000,
  4px 22px 1px #C00000,
  4px 24px 1px #D00000,
  4px 26px 1px #E00000,
  4px 28px 1px #F00000,
  4px 30px 1px #FA0000,
  4px 32px 1px #FB0000,
  4px 34px 1px #FC0000,
  4px 36px 1px #FD0000,
  4px 38px 1px #FE0000,
  4px 40px 2px #FF0000;
  font-family: 'Butcherman', cursive;  
}


@media(max-width: 800px){
  .img-fluids{
      float: left;
      display: block;
      margin-left: 20px;
      margin-top: 20px;
      padding: 0.5em;
    }
  .img-fluid{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 97%;
    padding: 0.5em;
    max-height: 80%;
  }

}

@media(max-width: 500px){
  #NextCat{
    height: 50px;
    position: relative;
    top: 50px;
    line-height: 35px;
    margin-right: 18px;
    padding: 0.5em;
    width: 46%;
    display: inline-block;
  }
  
  #BackCat{
    height: 50px;
    position: relative;
    top: 50px;
    width: 40%;
    line-height: 35px;
    margin-left: 18px;
    padding: 0.5em;
    display: inline-block;
  }

}

@media(max-width: 800px){
  #StoryText{
    padding: 0.5em;
    width: 265px;
    font-size: 20px;
  }
.StoryCreaterText{
  font-size: 20px;
  }
}

@media(max-width:800px){
  form{
    padding: 0.5em;
    width: 450px;
    max-width: 90%;
    display: inline-block;
  }
}